extends layout

block content
  ul
    each anio, index in anios
      li
        a(href="/api/v1/elecciones?anio=#{anio.ano}&formato=json") Elecciones #{anio.ano} en JSON
      li
        a(href="/api/v1/elecciones?anio=#{anio.ano}&formato=csv") Elecciones #{anio.ano} en CSV
      li
        a(href="/api/v1/elecciones?anio=#{anio.ano}&formato=html") Elecciones #{anio.ano} en HTML
      p